@font-face {
    font-family: 'Explora';
    src: url(Explora-Regular.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: 'raleway';
    src: url(Raleway-Light.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(Montserrat-Light.ttf);
}